@import "variable.css";

@keyframes enermy_move_animation {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

@keyframes player_jump_animation {
  0% {
    bottom: 0;
  }
  15% {
    bottom: calc(var(--player_jump_height) / 2);
    transform: rotate(-10deg);
  }
  50% {
    bottom: var(--player_jump_height);
    transform: rotate(0deg);
  }
  85% {
    bottom: calc(var(--player_jump_height) / 2);
    transform: rotate(10deg);
  }
  100% {
    bottom: 0;
  }
}

@keyframes cloud_move_animation {
  100%{
    right: 100%;
  }
}

@keyframes grass_move_animation {
  100%{
    right: 100%;
  }
}

@keyframes mountains_move_animation {
  100%{
    left: -71%;
  }
}

