@import "variable.css";
@import "animation.css";

.frame {
  height: var(--frame_height);
  width: var(--frame_width);
  border-style: solid;
  border-width: 1px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../images/frame.png');
  background-size: cover;
  overflow: hidden;
}

.start {
  position: absolute;
  top: 50px;
  left: 50%;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 200%;
  transform: translateX(-50%);
  z-index: 1;
}
.start:hover{
  background-color: gray;
  cursor: pointer;
}

.score{
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 150%;
  position: absolute;
  top: 0px;
  left: 10px;
}

.player {
  height: var(--player_height);
  width: var(--player_width);
  position: absolute;
  bottom: 0;
  left: 50px;
  background-image: url('../images/player_horse_static.png');
  background-size: cover;
}

.enermy {
  height: var(--enermy_height);
  width: var(--enermy_width);
  background-image: url('../images/arraw.png');
  background-size: cover;
  position: absolute;
  float: right;
  bottom: 0;
  right: 0;
}

.enermy_move {
  animation: enermy_move_animation var(--enermy_move_time) linear;
  animation-iteration-count: infinite;
}

.player_jump {
  animation: player_jump_animation var(--player_jump_time) linear;
}

.cloud{
  height: var(--cloud_height);
  width: var(--cloud_width);
  position: absolute;
  float: right;
  top: 0;
  right: 30%;
  background-image: url("../images/cloud.png");
  background-size: contain;
}

.cloud_move{
  animation: cloud_move_animation var(--cloud_move_time) linear;
  animation-iteration-count: infinite;
}

.mountains{
  height: calc(var(--frame_height)/2);
  width: var(--frame_width);
  position: absolute;
  top: 5%;
  background-image: url("../images/mountains.png");
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
  z-index: -2;
}