:root{
  --frame_height: 200px;
  --frame_width: 500px;
  --player_height: 50px;
  --player_width: 50px;
  --player_jump_height: calc(var(--enermy_height) + 30px);
  --enermy_height: 40px;
  --enermy_width: 20px;
}

.frame {
  height: var(--frame_height);
  width: var(--frame_width);
  border-style: solid;
  border-width: 1px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.start {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.start:hover{
  background-color: gray;
  cursor: pointer;
}

.score{
  position: absolute;
  top: 0px;
  left: 10px;
}

.player {
  height: var(--player_height);
  width: var(--player_width);
  background-image: url('./player_ma.png');
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50px;
}

.enermy {
  height: var(--enermy_height);
  width: var(--enermy_width);
  background-image: url('./bamboo.png');
  background-size: cover;
  position: absolute;
  bottom: 0;
  float: right;
  right: 0px;
}

.enermy_move{
  animation: enermy_move_animation 3s linear;
  animation-iteration-count: infinite;
}

@keyframes enermy_move_animation {
  0%{
    right: 0px;
  }
  100%{
    right: calc(var(--frame_width) - var(--enermy_width));
  }
}

.player_jump {
  animation: player_jump_animation 1s linear;
}

@keyframes player_jump_animation {
  0% {
    bottom: 0;
  }
  15% {
    bottom: calc(var(--player_jump_height)/2);
    transform: rotate(-10deg);
  }
  50% {
    bottom: var(--player_jump_height);
    transform: rotate(0deg);
  }
  85% {
    bottom: calc(var(--player_jump_height)/2);
    transform: rotate(10deg);
  }
  100% {
    bottom: 0;
  }
}

