@import "variable.css";
@import "animation.css";

.frame {
  height: var(--frame_height);
  width: var(--frame_width);
  border-style: solid;
  border-width: 1px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: grey;
}

.start {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.start:hover{
  background-color: gray;
  cursor: pointer;
}

.score{
  position: absolute;
  top: 0px;
  left: 10px;
}

.player {
  height: var(--player_height);
  width: var(--player_width);
  position: absolute;
  bottom: 0;
  left: 50px;
  background-image: url('./player_horse_static.png');
  background-size: cover;
}

/* #player_horse_body{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./player_horse_body.png');
  background-size: cover;
  z-index: 1;
}

#player_horse_leg_1{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./player_horse_leg_1.png');
  background-size: cover;
  z-index: 2;
  transform-origin: 95% 56%;
  animation: player_horse_leg_1_animation 1s linear;
  animation-iteration-count: infinite;
}

#player_horse_leg_2{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./player_horse_leg_2.png');
  background-size: cover;
  z-index: 2;
  transform-origin: 87% 78%;
  animation: player_horse_leg_2_animation 1s linear;
  animation-iteration-count: infinite;
}

#player_horse_leg_3{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./player_horse_leg_3.png');
  background-size: cover;
  z-index: 2;
  transform-origin: center;
  animation: player_horse_leg_3_animation 1s linear;
  animation-iteration-count: infinite;
} */

.enermy {
  height: var(--enermy_height);
  width: var(--enermy_width);
  background-image: url('./bamboo.png');
  background-size: cover;
  position: absolute;
  bottom: 0;
  float: right;
  right: 0px;
}

.enermy_move{
  animation: enermy_move_animation 3s linear;
  animation-iteration-count: infinite;
}

.player_jump {
  animation: player_jump_animation 1s linear;
}
